#login-with-facebook {
	background-color: #4c66a4;
	color: white;
}

.infoButton{	
	position:fixed;
	z-index:10;
	height:30px;
	width:30px;
}

/*#pestpage{
	background-color: black;
}*/


#LogInPageFacebookButton {
	position: fixed;
	top: 50%;
	left:0%;
	width: 105%;
	height: 15%;
	z-index: 50;
}

#logoutButt{
	position:fixed;
	top:1.5%;
	left:90%;
	width: 25px;
	height: 25px;

}


#LogInPageVisuals{
	position: fixed;
	top: 20px;
	left: -25px;
	width: 105%;
	height: 235%;
	z-index:0;
}



#infoButt{
	position:fixed;
	top:1%;
	left:2.5%;
	width: 30px;
	height: 30px;
}

#ratInfo{
	top:10%;
	left:3%;
	
}
#possumInfo{
	top:10%;
	left:52%;
}
#stoatInfo{
	top:52%;
	left:3%;
}
#catInfo{
	top:52%;
	left:52%;
}

.pestPic{
	position: absolute;
	
	width: 40%;
	height: 30%;
}
#cat{
	padding-left: 10px;
}
#poss{
	padding-left: 150px; 
}

#ratt{
padding-left: 10px;
padding-top: 150px;
}

#stoatt{
	padding-left: 150px;
	padding-top: 150px;
}

.InfoPage{
	position: fixed;
	top: 35px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.InfoPestPage{
	position: static;
	top: 35px;
	left: 0px;
	width: 100%;
	height: 40%;
}

.reportBut{
	position: fixed;
	z-index: 10;
	top: 87%;
	left: 83%;
	height: 55px;
	width: 55px;
	background:url(images/reportBut.png) ;
	background-size: 55px 55px;
}
.reportButStoat{
	position: fixed;
	z-index: 10;
	top: 87%;
	left: 30%;
	height: 55px;
	width: 55px;
}
.reportButCat{
	position: fixed;
	z-index: 10;
	top: 87%;
	left: 80%;
	height: 55px;
	width: 55px;
}
.reportButPos{
	position: fixed;
	z-index: 10;
	top: 37%;
	left: 80%;
	height: 55px;
	width: 55px;
}
.reportButRat{
	position: fixed;
	z-index: 10;
	top: 37%;
	left: 30%;
	height: 55px;
	width: 55px;
}

#confirmReport{
	position:fixed;
	top:25%;
	width:100%;
	height:50%;
	background: transparent;
}


.popupDialog{
	left:-30px;
	width:110%;
	height:40%;
	top:100px;
	background: transparent;
	box-shadow: none

	
}
 .photopopup {
    background: transparent;
 }
 #rat{
  background:url(images/Rat.jpg) ;
  background-size: 100% 100%;
 	position: fixed;
 	height: 50%;
 	width: 50%;
 	top:0%;
 	left: 0%;
 }
  #possum{
    background:url(images/Possum.jpg) ;
    background-size: 100% 100%;
   	position: fixed;
   	height: 50%;
   	width: 50%;
   	top:0%;
   	left: 50%;
 }
 #stoat{
  background:url(images/Stoat.jpg) ;
  background-size: 100% 100%;
 	position: fixed;
 	height: 50%;
 	width: 50%;
 	top:50%;
 	left: 0%;
 }
 #other{
  background:url(images/Cat.jpg) ;
  background-size: 100% 100%;
 	position: fixed;
 	height: 50%;
 	width: 50%;
 	top:50%;
 	left: 50%;
 }
 
 #cancel{
	 position:fixed;
	 top:55%;
	 left:5%;
 }
 
 #report{
	 position:fixed;
	 top:55%;
	 left:65%;
 }

 .statistics-container {
		position: fixed;
		z-index: 10;
		bottom: 0%;
		left: 5%;
 }

 .statistics-div {
 		display: inline-block;
 }