#login-with-facebook {
	background-color: #4c66a4;
	color: white;
}

.img-carousel {
	height: 100px;
	padding:2px;
   	background-color:black;
}
.img-carousel {
	height: 100px;
	left: 50%;
	padding:2px;
   	background-color:black;
}

.ui-page {
      background:url(images/NZbg1.png) ;
      background-size: cover;          
 }  
 #rabbit{
  background:url(images/Rabbit.png) ;
  background-size: 100% 100%;
 	position: fixed;
 	height: 50%;
 	width: 50%;
 	top:0%;
 	left: 0%;
 }
  #possum{
    background:url(images/Possum.png) ;
    background-size: 100% 100%;
   	position: fixed;
   	height: 50%;
   	width: 50%;
   	top:0%;
   	left: 50%;
 }
 #stoat{
  background:url(images/Stoat.png) ;
  background-size: 100% 100%;
 	position: fixed;
 	height: 50%;
 	width: 50%;
 	top:50%;
 	left: 0%;
 }
 #other{
  background:url(images/Cat.png) ;
  background-size: 100% 100%;
 	position: fixed;
 	height: 50%;
 	width: 50%;
 	top:50%;
 	left: 50%;
 }