#login-with-facebook {
	background-color: #4c66a4;
	color: white;
}

.infoButton{	
	position:fixed;
	z-index:10;
	height:50px;
	width:50px;
	
	
}

#rabbitInfo{
	top:10%;
	left:3%;
	
}
#possumInfo{
	top:10%;
	left:52%;
}
#stoatInfo{
	top:52%;
	left:3%;
}
#otherInfo{
	top:52%;
	left:52%;
}

.img-carousel {
	height: 100px;
	padding:2px;
   	background-color:black;
}
.img-carousel {
	height: 100px;
	left: 50%;
	padding:2px;
   	background-color:black;
}

#confirmReport{
	position:fixed;
	top:25%;
	width:100%;
	height:50%;
	background: transparent;
}


#popupDialog{
	left:-30px;
	width:110%;
	height:40%;
	top:100px;
	background: transparent;

	
}
 .photopopup {
    background: transparent;
 }
 #rabbit{
  background:url(images/Rabbit.png) ;
  background-size: 100% 100%;
 	position: fixed;
 	height: 50%;
 	width: 50%;
 	top:0%;
 	left: 0%;
 }
  #possum{
    background:url(images/Possum.png) ;
    background-size: 100% 100%;
   	position: fixed;
   	height: 50%;
   	width: 50%;
   	top:0%;
   	left: 50%;
 }
 #stoat{
  background:url(images/Stoat.png) ;
  background-size: 100% 100%;
 	position: fixed;
 	height: 50%;
 	width: 50%;
 	top:50%;
 	left: 0%;
 }
 #other{
  background:url(images/Cat.png) ;
  background-size: 100% 100%;
 	position: fixed;
 	height: 50%;
 	width: 50%;
 	top:50%;
 	left: 50%;
 }
 
 #cancel{
	 position:fixed;
	 top:55%;
	 left:5%;
 }
 
 #report{
	 position:fixed;
	 top:55%;
	 left:65%;
 }